<MapContainer::Topbar class="next-topbar-{{this.layout}}">
    <MapContainer::ViewSwitch>
        <FaIcon @icon="bring-forward" class="mr-2 text-gray-400 dark:text-gray-600" />
        <button type="button" class="{{if this.isMapLayout 'active'}}" {{on "click" (fn this.setLayoutMode "map")}}>Map</button>
        <button type="button" class="{{if this.isTableLayout 'active'}} flex flex-row items-center relative" {{on "click" (fn this.setLayoutMode "table")}}>
            <div class="mr-1.5">Table</div>
            <Badge class="flex items-center justify-center -mr-4" @spanClass="rounded-full px-1 py-0i" @hideStatusDot={{true}} @status="info">{{@model.meta.total}}</Badge>
        </button>
        {{!-- <button type="button" class="{{if this.isAnalyticsLayout 'active'}}" {{on "click" (fn this.setLayoutMode "analytics")}}>Analytics</button> --}}
    </MapContainer::ViewSwitch>
</MapContainer::Topbar>

{{#if this.isMapLayout}}
    <MapContainer @layout={{this.layout}} @onReady={{this.onMapContainerReady}}>
        <GlobalSearch @visible={{this.isSearchVisible}} @onPressOrder={{this.viewOrder}} />
        <MapContainer::Toolbar @activeOrdersCount={{this.activeOrdersCount}} @map={{this.leafletMap}} @onPressViewOrders={{this.toggleOrdersPanel}} @onPressSearch={{this.toggleSearch}} @onPressCreateOrder={{this.createOrder}} @onPressCreateDriver={{this.driversController.createDriver}} @onPressDriverProfile={{this.driversController.viewDriver}} />
        <OrderListOverlay @noBackdrop={{true}} @fullHeight={{true}} @outView={{not this.isOrdersPanelVisible}} @width={{if (media 'isMobile') "100%" "338px"}} @onPressCancel={{this.hideOrdersPanel}} @onPressCreateOrder={{this.createOrder}} @onPressViewOrder={{this.viewOrder}} @onPressCreateFleet={{this.fleetController.createFleet}} @onPressManageFleet={{this.fleetController.viewFleet}} @onPressCancelOrders={{this.bulkCancelOrders}} @onPressDeleteOrders={{this.bulkDeleteOrders}} />
        <LiveMap id="leafletMap" class="next-leaflet-container-map" @lat={{1.3521}} @lng={{103.8198}} @zoom={{12}} @zoomControl={{false}} @onLoad={{this.setMapReference}} {{set-container-dimensions}} />
    </MapContainer>
{{/if}}

{{#if this.isTableLayout}}
    <Layout::Section::Header @title="Orders" @onSearch={{this.search}}>
        <Button @icon="cogs" @text="Config" class="mr-2" @onClick={{fn this.sendTransition "operations.orders.index.config"}} />
        <FiltersPicker @columns={{this.columns}} @onChange={{this.applyFilters}} class="mr-2" />
        <VisibleColumnPicker @columns={{this.columns}} @activeParams={{this.activeParams}} @onChange={{this.updateColumns}} class="mr-2" />
       {{#if (safe-has this.table "selectedRows")}}
            <DropdownButton @icon="layer-group" @type="magic" @text="Bulk Action" @size="sm" @buttonWrapperClass="mr-2" as |dd|>
                <div class="next-dd-menu mt-2 mx-0">
                    <div class="px-1">
                        <a href="javascript:;" class="next-dd-item" {{on "click" (fn this.sendDropdownAction dd "bulkCancelOrders")}}>
                            Cancel Orders
                        </a>
                        <a href="javascript:;" class="text-red-500 next-dd-item" {{on "click" (fn this.sendDropdownAction dd "bulkDeleteOrders")}}>
                            Delete Orders
                        </a>
                    </div>
                </div>
            </DropdownButton>
        {{/if}}
        <Button @type="primary" @icon="plus" @iconPrefix="fas" @text="New" @wrapperClass="mr-2" @onClick={{fn this.sendTransition "operations.orders.index.new"}} />
        <Button @icon="long-arrow-up" @iconClass="rotate-icon-45" @text="Export" @onClick={{this.exportOrders}} />
    </Layout::Section::Header>
    <Layout::Section::Body>
        <Table @rows={{@model}} @columns={{this.columns}} @selectable={{true}} @canSelectAll={{true}} @onSetup={{fn (mut this.table)}} @pagination={{true}} @paginationMeta={{@model.meta}} @page={{this.page}} @onPageChange={{fn (mut this.page)}} @tfootVerticalOffset="53" @tfootVerticalOffsetElements=".next-view-section-subheader,.next-map-container-topbar" />
    </Layout::Section::Body>
{{/if}}

{{outlet}}