<Modal @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}} as |options|>
    <div class="modal-body-container">
        <div class="input-group">
            <label>
                Format
            </label>
            <select class="w-full mb-1 form-select" value="xlsx" {{on "change" @options.setFormat}}>
                <option selected disabled>
                    Select export format...
                </option>
                {{#each @options.formatOptions as |opt|}}
                    <option value={{opt}}>
                        {{uppercase opt}}
                    </option>
                {{/each}}
            </select>
        </div>
    </div>
</Modal>