
<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}}>
    <div class="modal-body-container">
        <div class="input-group">
            <label>
                Select device
            </label>
            <FlespiDeviceSelect class="w-full form-input form-select form-datalist" @value={{@options.vehicle.vehicle_devices}} placeholder="Device" />
        </div>
    </div>
    {{yield}}
</Modal::Default>