<Overlay @position="right" @noBackdrop={{true}} @fullHeight={{true}} @width="700">
    <Overlay::Header @title={{if this.serviceRate.id this.serviceRate.service_name "New drivers"}} @status={{this.serviceRate.public_id}} @hideStatusDot={{true}} @createdAt={{this.serviceRate.createdAt}} @onPressCancel={{this.transitionBack}}>
       <Layout::Section::Header class="align-items-unset" @actionsWrapperClass="align-items-end-i">
            <div class="ui-tabs w-full border-b-0i">
                <nav>
                    {{!-- <LinkTo  class="ui-tab">
                        <FaIcon @icon="cash-register" class="mr-1" />
                        <span>Details</span>
                    </LinkTo>
                    <LinkTo  class="ui-tab">
                        <FaIcon @icon="cog" @prefix="fas" class="mr-1" />
                        <span>Tracking</span>
                    </LinkTo>
                    <LinkTo  class="ui-tab">
                        <FaIcon @icon="map-marker-alt" class="mr-1" />
                        <span>Orders</span>
                    </LinkTo> --}}
                </nav>

            </div>
        </Layout::Section::Header>
    </Overlay::Header>

    <Overlay::Body @wrapperClass="new-service-rate-overlay-body px-4 space-y-4 pt-4" @increaseInnerBodyHeightBy={{1000}}>
        {{outlet}}
    </Overlay::Body>
</Overlay>