<Overlay @position="right" @noBackdrop={{true}} @fullHeight={{true}} @width="700">
    <Overlay::Header @title="New Driver" @status={{@driver.public_id}} @hideStatusDot={{true}} @createdAt={{@driver.createdAt}} @onPressCancel={{@onPressCancel}}>
        {{#if @driver.id}}
            {{!-- <Button @icon="save" @type="primary" @text="Save Driver `" @isLoading={{this.isUpdatingServiceRate}} @isSubscriptionRequired={{true}} /> --}}
            <Button @icon="save" @type="primary" @text="Save Driver" @onClick={{@onUpdateDriver}}  @isSubscriptionRequired={{true}} />
        {{else}}
            <Button @icon="check" @type="primary" @text="Create Driver" @onClick={{@onCreateDriver}} @isSubscriptionRequired={{true}} />
        {{/if}}
    </Overlay::Header>

    <Overlay::Body @wrapperClass="new-service-rate-overlay-body px-4 space-y-4 pt-4" @increaseInnerBodyHeightBy={{1000}}>
        <div class="section-header-actions w-full overflow-x-scroll lg:overflow-x-auto">
            <div class="ui-tabs mt-4">
                <nav>
                    <a href="javascript:;" class="ui-tab {{if (eq this.currentTab "details") 'active'}}" {{on "click" (fn this.changeTab "details")}}>
                        <FaIcon @icon="circle-info" class="mr-1" />
                        <span>Details</span>
                    </a>
                    <a href="javascript:;" class="ui-tab {{if (eq this.currentTab "tracking") 'active'}}" {{on "click" (fn this.changeTab "tracking")}}>
                        <FaIcon @icon="satellite-dish" class="mr-1" />
                        <span>Tracking</span>
                    </a>
                    <a href="javascript:;" class="ui-tab {{if (eq this.currentTab "orders") 'active'}}" {{on "click" (fn this.changeTab "orders")}}>
                        <FaIcon @icon="hard-drive" class="mr-1" />
                        <span>Orders</span>
                    </a>
                </nav>
            </div>
        </div>
        <div class="tab-content tab-{{this.currentTab}}">
            {{#if (eq this.currentTab "details")}}
                <div class="flex">
                    <div class="w-32 mb-6 mr-6">
                        <Image src={{@driver.photo_url}} @fallbackSrc={{config "defaultValues.driverImage"}} alt={{@driver.name}} height="128" width="128" class="h-32 w-32 rounded-md" />
                        <UploadButton @name="photos" @accept="image/*" @onFileAdded={{@options.uploadNewPhoto}} class="w-32" />
                    </div>
                    <div class="flex-1">
                        <div class="grid grid-cols-1 gap-2 text-xs dark:text-gray-100">
                            <div class="input-group">
                                <label>
                                    Name
                                </label>
                                <Input @value={{@driver.name}}  @type="text" class="w-full form-input" placeholder="Name" />
                            </div>
                        </div>

                        <div class="grid grid-cols-2 gap-2 text-xs dark:text-gray-100">
                            <div class="input-group">
                                <label>
                                    Internal ID
                                </label>
                                <Input @value={{@driver.internal_id}}  @type="text" class="w-full form-input" placeholder="Internal ID" />
                            </div>

                            <div class="input-group">
                                <label>
                                    Drivers License
                                </label>
                                <Input @value={{@driver.drivers_license_number}}  @type="text" class="w-full form-input" placeholder="Drivers License" />
                            </div>

                            <div class="input-group">
                                <label>
                                    Email
                                </label>
                                <Input @value={{@driver.email}}  @type="text" class="w-full form-input" placeholder="Email" />
                            </div>

                            <div class="input-group">
                                <label>
                                    Phone
                                </label>
                                <PhoneInput @value={{@driver.phone}} @onInput={{fn (mut @driver.phone)}} class="form-input w-full" />
                            </div>

                            <div class="input-group">
                                <label>
                                    Vendor
                                </label>
                                <ModelSelect @modelName="vendor" @selectedModel={{@driver.vendor}} @placeholder="Select Vendor" @triggerClass="form-select form-input" @infiniteScroll={{false}} @renderInPlace={{true}} @onChange={{fn (mut @driver.vendor)}} as |model|>
                                    {{model.name}}
                                </ModelSelect>
                            </div>

                            <div class="input-group">
                                <label>
                                    Vehicle
                                </label>
                                <ModelSelect @modelName="vehicle" @selectedModel={{@driver.vehicle}} @placeholder="Select Vehicle" @triggerClass="form-select form-input" @infiniteScroll={{false}} @renderInPlace={{true}} @onChange={{fn (mut @driver.vehicle)}} as |model|>
                                    {{model.display_name}}
                                </ModelSelect>
                            </div>

                            <div class="input-group">
                                <label>
                                    City
                                </label>
                                <Input @value={{@driver.city}}  @type="text" class="w-full form-input" placeholder="City" />
                            </div>

                            <div class="input-group">
                                <label>
                                    Country
                                </label>
                                <CountrySelect class="w-full form-input form-select form-datalist" @value={{@driver.country}} @onChange={{fn (mut @driver.country)}} placeholder="Country" />
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>
    </Overlay::Body>
</Overlay>