<Next::ViewSectionSubheader @title="Fleets" @onSearch={{fn (mut this.search)}}>
    <FiltersPicker @columns={{this.columns}} @onChange={{this.applyFilters}} class="mr-2" />
    <VisibleColumnPicker @columns={{this.columns}} @activeParams={{this.activeParams}} @onChange={{this.updateColumns}} class="mr-2" />
    {{#if this.table.selectedRows}}
        <DropdownButton @icon="layer-group" @text="Bulk Action" @type="magic" @size="sm" @buttonWrapperClass="mr-2" @contentClass="dropdown-menu" as |dd|>
            <div class="next-dd-menu mt-2 mx-0">
                <div class="px-1">
                    <a href="#" class="text-red-500 next-dd-item" {{on "click" (fn this.sendDropdownAction dd "bulkDeleteFleets")}}>
                        Delete Fleets
                    </a>
                </div>
            </div>
        </DropdownButton>
    {{/if}}
    <Button @icon="plus" @iconPrefix="fas" @type="primary" @text="New" class="mr-2" @onClick={{this.createFleet}} />
    <Button @icon="long-arrow-up" @iconClass="rotate-icon-45" @text="Export" @onClick={{this.exportFleets}} />
</Next::ViewSectionSubheader>

<Next::TableWrapper @pagination={{true}} @onToggleAll={{this.toggleAll}} @allToggled={{this.allToggled}}>
    <LightTable @table={{this.table}} @resizeOnDrag={{true}} as |t|>
        <t.head @fixed={{true}} @resizeOnDrag={{true}} @onColumnClick={{this.onColumnClick}} @iconComponent="light-table-icon" @iconSortable="sort" @iconAscending="sort-up" @iconDescending="sort-down" />
        <t.body @scrollBuffer={{500}} @canSelect={{true}} @multiSelect={{true}} @multiSelectRequiresKeyboard={{false}} />
        <t.foot @fixed={{true}} as |columns|>
            <Next::Pagination @columns={{columns}} @meta={{@model.meta}} @page={{this.page}} @onPageChange={{fn (mut this.page)}} />
        </t.foot>
    </LightTable>
</Next::TableWrapper>
{{outlet}}